* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background-color: #C6EBC5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #467144;
    justify-content: flex-end;
}

.return-home {
    width: 40px;
    height: 40px;
    margin-top: 6px;
    margin-right: 7px;
}

.return-button {
    width: 100%;
    height: 100%;
}

.title-favorite-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.title-favorite-container .favorite-title {
    font-size: 40px;
    border-bottom: solid #467144 3px;
    color: #467144;
    margin-bottom: 20px;
}

#favoritesCats {
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
    justify-content: center;
}

#favoritesCats .img-fav-container {
    width: 200px;
    margin: 20px;
}

.img-fav-container .img-fav {
    border: #b5d189 solid 7px;
    border-radius: 7px;
}

.img-fav-container {
    height: 220px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img-fav-container .btn-remove {
    margin: 0 auto;
    width: 100px;
    height: 35px;
    margin-top: 20px;
    background-color: #CFE8A9;
    border: solid #467144 2px;
    border-radius: 10px;
    color: #467144;
    font-weight: 700;
    font-size: 17px;
    padding-top: 1px;
    margin-bottom: 20px;
}

.btn-remove:hover {
    background-color: #b5d189;
    border: solid #467144 3px;
    cursor: pointer;
}

footer {
    position: relative;
    bottom: 0;
    bottom: 100%;
    width: 100%;
    height: 60px;
    background-color: #467144;
}

.container-p {
    display: flex;
    justify-content: flex-end;
    color: #CFE8A9;

}

.container-p p {
    position: absolute;
    margin-right: 10px;
    font-size: 23px;
    top: 18px;
}

.container-git {
    display: flex;
    flex-direction: row;
}

.container-git img {
    color: #CFE8A9;
    width: 45px;
    margin-left: 10px;
    margin-top: 8px;
}

.container-git a {
    text-decoration: none;
    color: black;
}

.container-git a p {
    font-size: 22px;
    margin-top: 19px;
    margin-left: 10px;
}


@media screen and (max-width:372px) {
    .container-p p {
        font-size: 18px;
        margin-top: 2px;
    }
}