* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background-color: #C6EBC5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #467144;
    justify-content: flex-end;
}

.invisible {
    opacity: 0;
}

.fav-section-container {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-top: 7px;
}

.fav-section {
    width: 100%;
    height: 100%;
}

.return-home {
    width: 40px;
    height: 40px;
    margin-top: 6px;
    margin-right: 7px;
}

.return-button {
    width: 100%;
    height: 100%;
}

#uploadingCat {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

#uploadingCat .upload-title {

    font-size: 30px;
    color: #467144;
    margin-bottom: 20px;
    margin-top: 60px;
}

#uploadingCat #uploadingForm {
    display: flex;
    flex-direction: column;
}

.file-select {
    display: flex;
    position: relative;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: #CFE8A9;
    border: solid #467144 2px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
    
}

.file-select:hover {
    background-color: #b5d189;
    border: solid #467144 3px;
    cursor: pointer;
}

p#text {
    text-align: center;
    color: #467144;
    font-size: 17px;
    font-weight: bolder;
}

input#file {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#preview {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 400px;
    max-height: 400px;
    background-color: #CFE8A9;
    border-radius: 10px;
}

#submitCat {
    margin: 0 auto;
    width: 100px;
    height: 30px;
    background-color: #CFE8A9;
    border: solid #467144 2px;
    border-radius: 10px;
    text-align: center;
    color: #467144;
    font-size: 15px;
    font-weight: bolder;
}

#submitCat:hover {
    background-color: #b5d189;
    border: solid #467144 3px;
    cursor: pointer;
}

#saved-msg {
    color: #467144;
    text-align: center;
    margin-top: 30px;
    font-size: 17px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #467144;
}

.container-p {
    display: flex;
    justify-content: flex-end;
    color: #CFE8A9;

}

.container-p p {
    position: absolute;
    margin-right: 10px;
    font-size: 23px;
    top: 18px;
}

.container-git {
    display: flex;
    flex-direction: row;
}

.container-git img {
    color: #CFE8A9;
    width: 45px;
    margin-left: 10px;
    margin-top: 8px;
}

.container-git a {
    text-decoration: none;
    color: black;
}

.container-git a p {
    font-size: 22px;
    margin-top: 19px;
    margin-left: 10px;
}


@media screen and (max-width:372px) {
    .container-p p {
        font-size: 18px;
        margin-top: 2px;
    }
}